body div{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}
    body div div {
        border: 1px solid lightgray;
        border-radius: 5px;
        margin: 5px;
    }
